
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 footer-info">
        <h3>DEVENDRA - </h3>
        <p class="card-text fst-italic">

          Ready to join me on this exhilarating quest where business meets bytes, and possibilities are boundless?
        </p>
        <p class="card-text fst-italic">
          Let's collaborate and turn your vision into a digital masterpiece. Feel free to
          explore my
          portfolio or reach out to me to discuss your next project. Together, we can compose something
          truly extraordinary in this digital orchestra, where your ideas take center stage!</p>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Me</h4>
        <p>
          Pune, Maharashtra, India <br>
          <strong>Phone:</strong> <a href="tel:+918055056263">+91 8055056263</a><br>
          <strong>Email:</strong> <a href="mailto:patildev2001@gmail.com">patildev2001@gmail.com</a><br>
        </p>
      </div>

      <div class="col-lg-4 col-md-6 footer-social-media">
        <h4>Follow Me</h4>
        <div class="social-links">
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
        </div>
      </div>


    </div>
  </div>
</footer>