<div class="container mt-4 mb-4">
    <div class="card" style="box-shadow: 0 0 10px rgba(242, 238, 238, 0.493);" id="main_card_project">
        <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h3 style="color:#007bff;">PORTFOLIO</h3>
                </div>
                <div class="col">
                    <p style="color: aqua;">MY WORKS</p>
                </div>
            </div>
           <div class="row justify-content-center">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="c-tab" data-toggle="tab" href="#c-cards">
                        <span class="d-sm-none">C</span>
                        <span class="d-none d-sm-inline">C Programming</span>                    
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cpp-tab" data-toggle="tab" href="#cpp-cards">
                        <span class="d-sm-none">C++</span>
                        <span class="d-none d-sm-inline">C++ Programming</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="java-tab" data-toggle="tab" href="#java-cards">
                        <span class="d-sm-none">Java</span>
                        <span class="d-none d-sm-inline">Java Programming</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="python-tab" data-toggle="tab" href="#python-cards">
                        <span class="d-sm-none">Python</span>
                        <span class="d-none d-sm-inline">Python Programming</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other-cards">
                        <span class="d-sm-none">Other</span>
                        <span class="d-none d-sm-inline">Other Projects</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other-cards_1">
                        <span class="d-sm-none">Other</span>
                        <span class="d-none d-sm-inline">Other Repos</span>   
                    </a>
                </li>
            </ul>
           </div>
        </div>
            
        
        <div class="tab-content card-body">
            <div class="tab-pane fade show active" id="c-cards">
                <div class="container mt-4">
                    <div class="row">
                       
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <img src="assets/icons8-c-programming-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                    <h5 class="card-title text-center mt-3">Character Device Driver</h5>
                                    <p class="card-text text-center">This project is used to create a working model of Character Device Driver on LINUX platform. </p>
                                    <a href="https://github.com/patildevendra-0/Linux-System-Programming-" target="_blank" class="btn btn-primary btn-sm">
                                        <i class="fab fa-github"></i> View on GitHub
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <img src="assets/icons8-c-programming-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                    <h5 class="card-title text-center mt-3">Shared Object - Libraries </h5>
                                    <p class="card-text text-center">I implement this project as DYNAMIC link library using Shared Object. Any application can link this Libraries.</p>
                                    <a href="https://github.com/patildevendra-0/Shared_Libraries" target="_blank" class="btn btn-primary btn-sm">
                                        <i class="fab fa-github"></i> View on GitHub
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <img src="assets/icons8-c-programming-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                    <h5 class="card-title text-center mt-3">Duplicate File Remover</h5>
                                    <p class="card-text text-center">This project is used to travel complete file system and remove all Duplicate from it. </p>
                                    <a href="https://github.com/patildevendra-0/Linux-System-Programming-" target="_blank" class="btn btn-primary btn-sm">
                                        <i class="fab fa-github"></i> View on GitHub
                                    </a>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>        
            </div>

            <!-- //////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="cpp-cards">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-c-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">CVFS</h5>
                                        <p class="card-text text-center">This project provides all functionality to the user which is same as Linux File system</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/CVFS" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>                        
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-c-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Generalised DS Library</h5>
                                        <p class="card-text text-center">This project contains generic implementations of all major
                                            types of data structure.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/Generalise%20library" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>     
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-c-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Logical Repository</h5>
                                        <p class="card-text text-center"> C and C++ programming through a rich collection of data structures and logical programs.</p>
                                        <a href="https://github.com/patildevendra-0/Data-Structure" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>            
            </div>

            <!-- /////////////////////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="java-cards">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-java-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Chat messenger with log facility</h5>
                                        <p class="card-text text-center">Provides the chatting facility for pear-to-pear communication.We use java socket programming.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/chat%20application" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-java-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">File Packer Unpacker with encryption</h5>
                                        <p class="card-text text-center">This project provides the facility of packing and unpacking the regular files with encryption.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/packer%20unpacker" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>     
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-java-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Java Logical Applications Repository</h5>
                                        <p class="card-text text-center">Java repository showcasing diverse coding projects and a rich collection of logical programs</p>
                                        <a href="https://github.com/patildevendra-0/Java---Programming" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>            
            </div>

            <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="python-cards">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-python-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Periodic Process Logger with Auto Scheduled Log Report Facility</h5>
                                        <p class="card-text text-center">This project automates process log activity.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/process%20log" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-python-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">A Compilation of Automated Solutions</h5>
                                        <p class="card-text text-center">This repository encompasses a comprehensive collection of Python automation applications.</p>
                                        <a href="https://github.com/patildevendra-0/Automation---Using-python" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-python-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">ML Case Studies Repository    </h5>
                                        <p class="card-text text-center">A curated collection of real-world machine learning projects and analyses for practical learning <br>. </p>
                                        <a href="https://github.com/patildevendra-0/Machine-Learning" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>     
                            
                        </div>
                    </div>
                </div>      
            </div>

<!-- ///////////////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="other-cards">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/pngimg.com - linux_PNG12.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Linux System Programming Repository</h5>
                                        <p class="card-text text-center">A repository encompassing a wide range of applications and projects, offering an in-depth exploration of Linux system programming.</p>
                                        <a href="https://github.com/patildevendra-0/Linux-System-Programming-" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>   
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-angular-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Angular Project Showcase <br> .</h5>
                                        <p class="card-text text-center">An exceptional repository featuring a diverse range of Angular projects, offering practical insights into modern web development.</p>
                                        <a href="https://github.com/patildevendra-0/finaltrial" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/icons8-spring-boot-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Spring Boot API Showcase <br> .</h5>
                                        <p class="card-text text-center">Repository dedicated to Spring Boot-based API applications, offering a comprehensive exploration of backend development with Spring Boot.</p>
                                        <a href="https://github.com/patildevendra-0/SPRING_BOOT" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                             
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- ///////////////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="other-cards_1">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/golang.png" class="img-fluid" alt="GoLang Logo" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">GoLang</h5>
                                        <h5 class="card-title text-center mt-3">- Repository</h5>
                                        <p class="card-text text-center">A repository showcasing GoLang projects and applications.</p>
                                        <a href="https://github.com/patildevendra-0/GOLANG" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/opencv.png" class="img-fluid" alt="OpenCV Logo" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">OpenCV Project Showcase</h5>
                                        <p class="card-text text-center">Explore an extensive collection of OpenCV projects that delve into the intricacies of computer vision and image processing.</p>
                                        <a href="https://github.com/patildevendra-0?tab=repositories" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="assets/network.png" class="img-fluid" alt="Networking Concepts" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Networking Concepts Repository</h5>
                                        <p class="card-text text-center">A repository exploring core networking concepts, protocols.</p>
                                        <a href="https://github.com/patildevendra-0/Networking" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                             
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
