<div class="container mt-4 mb-4">
    <div class="card" style="box-shadow: 0 0 10px rgba(242, 238, 238, 0.493);" id="main_card_project">
        <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h3 style="color:#007bff;">PORTFOLIO</h3>
                </div>
                <div class="col">
                    <p style="color: aqua;">MY WORKS</p>
                </div>
            </div>
           <div class="row justify-content-center">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="c-tab" data-toggle="tab" href="#c-cards">
                        <span class="d-sm-none">C</span>
                        <span class="d-none d-sm-inline">C Programming</span>                    
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cpp-tab" data-toggle="tab" href="#cpp-cards">
                        <span class="d-sm-none">C++</span>
                        <span class="d-none d-sm-inline">C++ Programming</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="java-tab" data-toggle="tab" href="#java-cards">
                        <span class="d-sm-none">Java</span>
                        <span class="d-none d-sm-inline">Java Programming</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="python-tab" data-toggle="tab" href="#python-cards">
                        <span class="d-sm-none">Python</span>
                        <span class="d-none d-sm-inline">Python Programming</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other-cards">
                        <span class="d-sm-none">Other</span>
                        <span class="d-none d-sm-inline">Other Projects</span>   
                    </a>
                </li>
            </ul>
           </div>
        </div>
            
        
        <div class="tab-content card-body">
            <div class="tab-pane fade show active" id="c-cards">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <img src="../../../assets/icons8-c-programming-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                    <h5 class="card-title text-center mt-3">Heading 2</h5>
                                    <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <a href="https://github.com/patildevendra-0/Linux-System-Programming-" target="_blank" class="btn btn-primary btn-sm">
                                        <i class="fab fa-github"></i> View on GitHub
                                    </a>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <img src="../../../assets/icons8-c-programming-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                    <h5 class="card-title text-center mt-3">Heading 2</h5>
                                    <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <a href="https://github.com/patildevendra-0/Shared_Libraries" target="_blank" class="btn btn-primary btn-sm">
                                        <i class="fab fa-github"></i> View on GitHub
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <img src="../../../assets/icons8-c-programming-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                    <h5 class="card-title text-center mt-3">Heading 2</h5>
                                    <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/Customised%20String%20library" target="_blank" class="btn btn-primary btn-sm">
                                        <i class="fab fa-github"></i> View on GitHub
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>        
            </div>

            <!-- //////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="cpp-cards">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-c-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/Generalise%20library" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>                        
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-c-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/CVFS" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>     
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-c-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/Data-Structure" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>            
            </div>

            <!-- /////////////////////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="java-cards">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-java-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/chat%20application" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-java-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/packer%20unpacker" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>     
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-java-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/Java---Programming" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>            
            </div>

            <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="python-cards">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-python-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/PROJECTS/tree/main/process%20log" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-python-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/Python-Programming" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-python-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/Automation---Using-python" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>     
                            
                        </div>
                    </div>
                </div>      
            </div>

<!-- ///////////////////////////////////////////////////////////////////////////// -->

            <div class="tab-pane fade" id="other-cards">
                <div class="container mt-4">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-angular-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/finaltrial" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/icons8-spring-boot-300.png" class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/SPRING_BOOT" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <img src="../../../assets/artificial-intelligence.png   " class="img-fluid" alt="Your Image" style="max-width: 180px; max-height: 180px; border-radius: 50%;">
                                        <h5 class="card-title text-center mt-3">Heading 2</h5>
                                        <p class="card-text text-center">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="https://github.com/patildevendra-0/Machine-Learning" target="_blank" class="btn btn-primary btn-sm">
                                            <i class="fab fa-github"></i> View on GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>     
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
