<div class="container mb-4">
    <div class="card" id="main_card_timeline">
        <div class="card-body">
            <section id="resume" class="resume">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p>Check My Resume</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Summary</h3>
                        <div class="resume-item pb-0">
                            <h4>Devendra Manesh Patil</h4>
                            <p><em>Innovative Software Developer with a Passion for Excellence! With 1+ year of
                                    experience, I'm your tech-savvy architect, crafting digital solutions that shine
                                    from concept to execution.</em></p>
                            <ul>
                                <li>Pune, Maharashtra, India</li>
                                <li><a href="tel:+918055056263">+91 8055056263</a></li>
                                <li><a href="mailto:patildev2001@gmail.com">patildev2001@gmail.com</a></li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Bachelors in Business Management</h4>
                            <h5>2019 - 2022</h5>
                            <p><em>Kavayitri Bahinabai Chaudhari North Maharashtra University Jalgaon</em></p>
                            <p>With a solid foundation in business management, I'm equipped to navigate the complexities
                                of the corporate landscape.</p>
                        </div>
                        <div class="resume-item">
                            <h4>Unleashing the Techie in Me: From Business to Bytes!</h4>
                            <h5>My journey began in the world of business management, where I learned to navigate the
                                corporate landscape. Yet, destiny had a different calling for me - the electrifying
                                realm of technology!</h5>
                            <p><em>Fueled by an insatiable curiosity for coding and innovation, I've embarked on a bold
                                    adventure into the tech landscape, where every line of code is a stroke of genius on
                                    the canvas of progress</em></p>
                            <p>With the perfect fusion of business acumen and tech-savvy spirit, I'm on a mission to
                                bridge the gap between traditional wisdom and modern technology, crafting solutions that
                                redefine industries</p>
                        </div>

                        <div class="resume-item">
                            <h4>From Curiosity to Code: My Enthralling Software Journey! </h4>
                            <h5>2022 - 2023</h5>
                            <p><em>Armed with an unshakable dedication to official documentation, I embarked on a
                                    fearless journey into the heart of system-level programming languages, methodically
                                    unraveling the intricate tapestry of operating systems.</em></p>
                            <ul>
                                <li>From crafting efficient algorithms to designing captivating user interfaces, I
                                    thrive on challenges that push the boundaries of innovation</li>
                                <li>My GitHub galaxy and portfolio constellation are a testament to my creative
                                    brilliance, where I've artfully woven business acumen into tech wizardry. Each
                                    project is not just code but a living vision.</li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Comprehensive Technical Proficiency</h3>
                        <div class="resume-item">
                            <h4>Technical Proficiencies:</h4>
                            <p><strong>My Technical Arsenal:</strong></p>
                            <ul>
                                <li><strong>Operating System:</strong> Windows NT, Linux Distributions, UNIX SYS V4</li>
                                <li><strong>Programming Languages:</strong> C Programming, C++ Programming, Python, Java Programming, JavaScript</li>
                                <li><strong>Web Technologies:</strong> HTML/HTML5, CSS2/CSS3,JavaScript</li>
                                <li><strong>IDE & Tools:</strong> Visual Studio Code</li>
                                <li><strong>Web Servers:</strong> Apache Tomcat 8.0.22</li>
                                <li><strong>Version Control:</strong> GIT</li>
                                <li><strong>Database:</strong> MySQL,NoSQL</li>
                                <li><strong>JavaScript Libraries:</strong> Angular JS, Bootstrap</li>
                                <li><strong>Tools & Technologies:</strong> Angular-CLI</li>
                                <li><strong>Web Services:</strong> GitHub Pages, Firebase, Netlify</li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="col-lg-6">

                      

                        <div class="resume-item">
                            <h4>Experienced Developer with a Multifaceted Skill Set</h4>
                            <p>Throughout my career, I've cultivated a diverse range of technical expertise that encompasses:</p>
                            <ul>
                                <li>Application development in C, C++, JAVA, and Python.</li>
                                <li>Proficiency in Linux System Programming (C Programming).</li>
                                <li>Low-level programming: Kernel Modules and Device Drivers.</li>
                                <li>Expertise in Algorithm Design.</li>
                                <li>Automation scripting using Python.</li>
                                <li>Mobile App development (Angular - Ionic).</li>
                                <li>Client-side Web Development with Angular.</li>
                                <li>Designing Machine Learning applications.</li>
                                <li>Server-side Web Development (Java, Python,NodeJS).</li>
                                <li>Sound knowledge of Operating Systems internals.</li>
                                <li>Strong analytical and problem-solving skills.</li>
                            </ul>
                        </div>
                        

                       
                        <div class="resume-item">
                            <h4>Domain Knowledge: System Programming</h4>
                            <p>I possess a strong foundation in System Programming with expertise in various aspects of operating systems:</p>
                            <ul>
                                <li>Good analytical and problem-solving skills based on File Subsystem.</li>
                                <li>Good analytical and problem-solving skills based on Process Subsystem.</li>
                                <li>Good analytical and problem-solving skills based on Memory management policies of Operating systems.</li>
                                <li>Knowledge of all kinds of system calls and its corresponding commands.</li>
                                <li>Knowledge of all kinds of data structures that can be used by the kernel of an operating system.</li>
                                <li>Knowledge of all kinds of algorithms of UNIX operating systems which get executed when we call the system calls.</li>
                                <li>Knowledge of multithreaded system programming application development using pthread library.</li>
                                <li>Knowledge of static and dynamic library development on Linux platform.</li>
                                <li>Knowledge of Interprocess Communication using IPC SYS V4 techniques.</li>
                                <li>Knowledge of writing Kernel Modules and Device driver applications.</li>
                                <li>Knowledge of automating the software building procedure using Makefiles.</li>
                            </ul>
                        </div>
                        


                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Software Developer</h4>
                            <h5>2023 - 2024</h5>
                            <p><em>Pune, India</em></p>
                            <ul>
                                <li>Contributed as a key team member in the development and implementation of websites
                                    and software solutions for electric vehicle applications.</li>
                                <li>Collaborated closely with a dynamic team, fostering innovation and delivering
                                    cutting-edge solutions in the electric vehicle sector.</li>
                                <li>Ensured the quality and accuracy of software design through comprehensive assessment
                                    and testing.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section><!-- End Resume Section -->
        </div>
    </div>
</div>